.panels {
    grid-area: main;
    display: grid;
    justify-items: center;
    align-items: center;

    padding: 0;
    margin: 0 0 2rem;
}

.panel1 {
    padding: 0;
    margin: 0;
    height: auto;
    border: solid black;
    border-width: 1px 1px 0 1px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

    background-color: rgb(234, 234, 234);
}

.panel2 {
    padding: 0;
    margin: 0;
    height: auto;
    border: 1px solid black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

    background-color: rgb(234, 234, 234);
}

.panel__title {
    text-align: center;
}

.panel__pic1 {
    float: right;
    margin: 0.5rem;

    transition: transform 0.5s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.panel__pic2 {
    float: left;
    margin: 0.5rem;

    transition: transform 0.5s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.panel__pic1:hover,
.panel__pic2:hover {
    transform: scale(1.1);
}

@media (prefers-reduced-motion) {
    .panel__pic1:hover,
    .panel__pic2:hover {
        transform: none;
    }
}

.about__links {
    display: inline-block;
    list-style: none;
}


@media (min-width: 44rem) {
    .panels {
        display: grid;
        align-items: initial;

        width: 100%;
        padding: 0.5rem;
        margin: 0;
        gap: 1rem;
    }

    .panel1 {
        display: grid;
        grid-template-areas:
            "left right";
        grid-template-columns: auto auto;

        width: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid black;

        background-color: rgb(234, 234, 234);
    }

    .panel__pic1 {
        grid-area: right;
        float: none;
        margin: 0.5rem;
    }

    .panel__title {
        text-align: center;
    }

    .panel__text1 {
        line-height: 1.2rem;
        grid-area: left;
        margin: 0.5rem;
    }

    .panel2 {
        display: grid;
        grid-template-areas:
            "left right";
        grid-template-columns: auto auto;


        width: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid black;

        background-color: rgb(234, 234, 234);
    }

    .panel__pic2 {
        grid-area: left;
        float: none;
        margin: 0.5rem;
    }

    .panel__text2 {
        line-height: 1.2rem;
        grid-area: right;
        margin: 0.5rem;
    }
}