.accordion__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  border-radius: 10px;
}

.accordion__button::after {
  content: "+";
}

.accordion__button--open::after {
  content: "-";
}